/*---------
Reset
---------*/
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header{
    width:100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: white;
}

header > div{
    justify-content: space-between;
}
.header-row{
    align-items: center;
    padding: 20px;
}
header li{
    padding: 0 15px;
    
}
header ul{
    align-items: center;
}

header a{
    color: black;
}

/*---------
common
---------*/
.flex {
    display: flex;
}
.justify-between {
    justify-content: space-between;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container-big{
    max-width: 1180px;
    margin: auto;
}
.container-small{
    max-width: 1000px;
    margin:auto;
}


/*---------
buttons
---------*/
.btn-blue{
    background-color: #0061ff;
    color:aliceblue;
    font-size: 15px;
    border: none;
    padding:5px;
    margin-left: 5px;

}
.btn{
    margin-bottom: 25px;
    padding:10px; 
}

/*---------
hero
---------*/
.hero{
    background-color: #b4d0e7;
    margin-top: 50px;
}

h1{
    text-align: left;
    font-size: 54px;
    padding: 80px 0 0 0;
}
.hero p {
    margin-bottom: 20px;
}

.hero-content{
    position: relative;
    bottom:-80px;    
}

.col-small{
    position: relative;
    width: 30%;
}
i.hero-arrow{
    position: absolute;
    font-size: 50px;
    left: 0;
    bottom:100px;
}
.col-big{
    width:70%;
    
}
    
img{
    max-width: 100%;
}

.plans {
    margin-top: 150px;
}
.plans-radio {
    margin-bottom: 40px;
}
.radio{
    display:flex;
    margin-top: 10px;
    
}

.second-radio{
    margin-left: 10px;
}

.column {
    width: 30%;
    border: solid 1px black;
}
.column-header {
    padding: 20px;
    border-bottom: solid 1px black;
    text-align:center;
}
.column-body {
    padding: 20px;
}
.plan-list {
    margin: 30px 0;
}
.plan-list li {
    margin-bottom: 10px;
}
.plan-list li i {
    padding-top: 4px;
    padding-right: 10px;
}
.column .btn-blue{
    margin-bottom: 20px;
}

hr{
    width: 50px;
    margin: 40px 0;
}

.check{
    color:blue;
}