/*---------
Reset
---------*/
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header{
    width:100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: white;
}

header > div{
    justify-content: space-between;
}
.header-row{
    align-items: center;
    padding: 20px;
}
header li{
    padding: 0 15px;
    
}
header ul{
    align-items: center;
}

header a{
    color: black;
}

/*---------
common
---------*/
.flex {
    display: flex;
}
.justify-between {
    justify-content: space-between;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container-big{
    max-width: 1180px;
    margin: auto;
}
.container-small{
    max-width: 1000px;
    margin:auto;
}
.conta-grande{
    width:100vw;
}


/*---------
buttons
---------*/
.btn-blue{
    background-color: #0061ff;
    color:aliceblue;
    font-size: 15px;
    border: none;
    padding:5px;
    margin-left: 5px;

}
.btn-white{
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 10px;
    border: 2px solid grey;
}
.btn{
    margin-bottom: 25px;
    padding:10px; 
}

/*---------
hero
---------*/
.hero{
    background-color: #b4d0e7;
    margin-top: 50px;
}

h1{
    text-align: left;
    font-size: 54px;
    padding: 80px 0 0 0;
}
.hero p {
    margin-bottom: 20px;
}

.hero-content{
    position: relative;
    bottom:-80px;    
}

.col-small{
    position: relative;
    width: 30%;
}
i.hero-arrow{
    position: absolute;
    font-size: 50px;
    left: 0;
    bottom:100px;
}
.col-big{
    width:70%;
    
}
    
img{
    max-width: 100%;
}

.plans {
    margin-top: 150px;
}
.plans-radio {
    margin-bottom: 40px;
}
.radio{
    display:flex;
    margin-top: 10px;
    
}

.second-radio{
    margin-left: 10px;
}

.column {
    width: 30%;
    border: solid 1px black;
}
.column-header {
    padding: 20px;
    border-bottom: solid 1px black;
    text-align:center;
}
.column-body {
    padding: 20px;
}
.plan-list {
    margin: 30px 0;
}
.plan-list li {
    margin-bottom: 10px;
}
.plan-list li i {
    padding-top: 4px;
    padding-right: 10px;
}
.column .btn-blue{
    margin-bottom: 20px;
}

hr{
    width: 50px;
    margin: 40px 0;
}

.flex .check{
    color:blue;
}



.column-bassa{
    margin-bottom: 30px;
    margin-top: 30px;
    width:100%;
    border: solid 1px black;
}

.column-3{
    margin: 5px 5px;
    display: flex;
    
}
.bottone{
    justify-content: space-between;
}

h3{
    padding-top: 30px;
    padding-bottom: 20px;

}
h4{
    padding-bottom: 40px;
}

.hero2{
    padding: 100px;
}

.col-grande{
    width: 60%;
}

.col-piccola{
    
    width:40%;
    margin-left: 30px;
    margin-top: 50px;
    padding:10px;
}

.btn-white{
    margin:20px;
    
}
.container-colonne{
    width:100%;
    display: flex;
    flex-wrap: wrap;
}
.column-unica{
    width:30%;
    margin:10px 10px;
}

.titoletto{
    margin: 100px;
}
.stacco{
    padding-bottom: 70px;
}
.link{
    text-decoration-line: underline;
    color: blue;
}
.column-3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-left: 30px;
}
.bottone{
    margin-top: 20px;
}
.hero-3{
    background-color: aquamarine;
}

.partners {
    display: flex;
    
}
.partner-col {
    position: relative;
    width: calc(100% / 3);
    
}
.partner-col::before {
    content: '';
    padding-top: 100%;
    display: block;
}
.partner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
}
.partner {
    width: 50%;
    height: 50%;
    
    
}

.partner img{
    filter: invert(100%);
}
.desi-it{
    background-color: #a2d39b;
    padding: 15px;
    box-shadow:0 0 0 15px inset #d1e9cd;
    display: flex;
    align-items: center;
}
.img-desi{
    width: 100%;
    padding-left: 18px;
    
}
.logo{
    width: 100%;
    height:100%;
    
    
}
.ari-uni{
    background-color: #61082b;
    display: flex;
    align-items: center;
}
.flo-uni{
    background-color: #0093ce;
    display: flex;
    align-items: center;
    
}

.topps{
    background-color: #ff1c1c;
    display: flex;
    align-items: center;
}
.center{
    background-color: #f5f5f5;
}

.bici{
    background-color: #d5001f;
    display: flex;
    align-items: center;
}
.hero-piccola img p small{
 margin-top: 30px;
}

.hero-4{
    background-color: #b4d0e7;
}

.piccola-hero{
    height: 350px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.piccola-hero h2{
    color: #61082b;
}