/*---------
Reset
---------*/
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

header{
    height: 80px;
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

header > div{
    justify-content: space-between;
}
.header-row{
    align-items: center;
    padding: 20px;
}
header li{
    padding: 0 15px;
}
header ul{
    align-items: center;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
header a{
    color: black;
}
/*---------
common
---------*/
.flex{
    display: flex;
}

/*---------
common
---------*/
/*---------
buttons
---------*/
.btn-blue{
    background-color: #0061ff;
    color:aliceblue;
    font-size: 15px;
    border: none;
    padding:5px;
    margin-left: 5px;

}


.hero{
    background-color: #b4d0e7;
    margin-top: 50px;
}

.container-big{
    max-width: 1180px;
    margin: auto;


}
.row{
    display: flex;
}
h1{
    text-align: left;
    font-size: 54px;
    padding: 80px 0 50px 0;
  
}
.paragrafo-primo{

    margin-bottom: 20px;

}
.btn{
    margin-bottom: 60px;
    padding:10px;

    
}
.paragrafo-secondo{
    margin-bottom: 40px;
}
.col-small{
    width: 30%;
}
i{
    font-size: 50px;
    margin-bottom:10px;
}
.col-big{
    width:70%;
}
img{
    max-width: 100%;
}